::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
    background: var(--background);
    position: absolute;
    width: 3px;
}

::-webkit-scrollbar:hover {
    display: block;
    background: #6e77c2;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
}

::-webkit-scrollbar:horizontal {
    height: 3px;
}

:focus {
    outline: none;
}

html,
body,
.edxi {
    @apply h-full;
    color: var(--textColor);
    background: var(--background);
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    color: var(--linkColor);
}

.edxi {
    @apply flex flex-col w-full tracking-wider font-normal text-base;
    &_content {
        @apply relative overflow-y-auto text-xs p-3 flex items-center justify-center flex-col flex-1;
    }
}